body {
    font-size: 16px;
  }
  #page-wrap {
    display:flex;
    flex-flow: column nowrap;
    width: 80%;
    margin: 0 auto; 
    }
    @media only screen and (max-width: 1920px) {
   #page-wrap {
     width: 100%;
   
    }

}


header{
    position: fixed; 
    width: 100%;
    left:0;
    top:0;
    z-index:20;
}
@media only screen and (min-width: 550px) {
.media-logo-container{
    position: fixed; 
    top:200px;
    right:15px;
    z-index:1;
}

.media-logo{
    margin-top:30px;
}

.page-logo{
    top:0;
    position: absolute;
    width:70px;
    height:70px;
    margin:10px;
    z-index:3;
}
}

nav{
    position:relative;
    height: 100px;
    white-space: nowrap;
    overflow: hidden;
    background-color: white;
    width:100%;
    height:80px;
    top:0;
    z-index:2;
}
header::after{
    content: "";
    clear: both;
    display: table;
}
.button-grup{
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons{
    margin:25px;
    display:inline-block;
  
    
}
li.buttons > a{
    text-decoration:none;
    color:black;
}

li.buttons > a:hover{
    
    color:#DF0101;
}


.mobile-meniu{
    display:none;
}

section {
    position: relative;
    top:80px;
    display: flex;
    flex-flow: column wrap;
    left: 0;
    width: auto;
    height: 1000px;
    align-items: center;
}

.background-png{
    background-image: url('./background-2.png');
    background-position: left top;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 93% ;
 
}

.center-meessage-container{
    position: absolute;
    margin:0 auto;
    margin-top:350px;
    height:400px;
    width: 600px;
    

}
.messagebox{
    background-color: #BDBDBD;
    height:85%;

}

.messagebox-text{
    position: relative;
    padding: 10px;
    margin:30px;
 }
.messagebox-title{
    width: 100%;
    color:#0101DF;
    
}

.text-with-icon{
    display: block;
    margin-left:60px;
    
}
.text-with-icon:before {
    content: '';
    width: 3rem;
    border-bottom: 2px solid #0101DF;
    position: absolute;
    left: 0.4rem;
    top: 85px;
}
.button-box{
    height:60px;
    display:flex; 
 
  }

.red-button{
    display: flex; 
    width:140px;
    height:100%;
    background-color:#0101DF;
    margin-left:50%;
    justify-content: center;
    align-items: center;

}

.red-button-message{
    width:100%;
    height:100%;
    background-color:#DF0101;
  
}
.red-button-message p{
    text-align: center;
    font-size: 1.3rem;
    color: #FDFBFB
}
.fa-plus{
    color:white;
  
}
.services-selection-container{
    height:300px;
    width:100%;
    background-color:#D7DF01;

}

.services-container{
    display:flex;
    flex-flow: row wrap;
    position: relative;
    width: 70%;
    margin: 0 auto;

}

.services-container-title{
    width:100%;

}
h2.services-container-title {
    margin-left:2%;
    font-size: 3rem;


}

@media only screen and (max-width: 700px) {
    section.service-section{
        display:flex;
        height:2100px;
    }
    .service{
        background-color:#D8D8D8;
        width:100%;
        height:300px;
        margin:2%  
    }
 

    .services-container{
        width:100%;
    }
    .services-container:after{
        content:"";
        display: block;
        clear: both;
    }

}

@media only screen and (min-width: 700px) {
    .service{
        background-color:#D8D8D8;
        width:29%;
        height:300px;
        margin:2%
    }

}
.service-title{
    margin-left: 10%;
    font-size: 1.3rem;
    color:#0174DF; 
}
.service-text{
    margin-left: 10%;
    
}
.testimonial-container{
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    width:100%;
    height:300px;
    background-color:#D8D8D8;
    overflow: hidden;
    
    justify-content: center;
    border-bottom: 20px solid #00b6ff;
}
.info-picker-arow{
    text-align: center;
    font-size: 3rem;
    width:20%;
    cursor: pointer; 
    user-select: none;
}
.info-picker-arow:hover{
    color:#d60000;
}
.testimonial-content{
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    width:60%;
  

}
.testimonial-title{
    width:100%;
    margin-top: 0px;
    text-align: center;
}
.testimonial-text{
    height:130px;
}
.testimoniual-autor{
    display:flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    color:#d60000;
    font-size: 0.7rem;
    
    
}
.testimoniual-autor p{
    margin-top:0px;

 
    
}
.testimonial-picker{
    display: flex;
    align-items: center;
    justify-content: center;
      
}
.picker-position{
    width: 8px;
    height: 8px;
    margin:5px;
    border-radius: 50%;
    background-color: #012b8c;

}

.selected{
    width: 5px;
    height: 5px;
    background-color:transparent; 
    border: 2px solid #012b8c;
    
}
.second-container{
    top: 50px;
    width: 700px;
}
footer{
    display:flex;
    flex-flow: column nowrap;
    background-color:#0174DF; 
    height:500px;
    width:100%;
}
a,
b,
footer h2 {
    color:white;
}

.footer-contact{
font-size:2rem;
width:100;
text-align: center;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    width:50%;
    margin:0 auto;
    display: flex;
    flex-flow: row wrap;
}
.input-field{
    width:45%;
    margin:1%;
   padding: 1%;
   border: 0;
   outline: 0;
   background: transparent;
   border-bottom: 1px solid white;
   color:white
}
.imput-button{
    border: 0;
    outline: 0;
    background: transparent;
    width:100%;
    color:white;
    margin:1%;
    height:100%;
  
}
.fill{
    width:94.5%  ; 
}
.footer-text{
    margin: 4%;
}

.clear{
    content:"";
    display: block;
    clear: both;
}

@media only screen and (max-width: 550px) {
    #page-wrap {
        width: auto
      
       }
       
    nav{
        position:fixed;
        overflow: hidden;
        height: 60px;
     }
    .buttons{
        display:none;
    }
    .testimonial-content{
        width:90%;
    }

.page-logo{
    width: 50px;
    height:50px;
   

}
.info-picker-arow{
    display:none;
}
.second-container{
    top:400px;
}
.background-png{
    height:400px;
}

.media-logo-container{
     display:flex;
    align-items: center;
    justify-content: center;
    position: fixed;
      bottom:0;
    width:100%;
    background-color: white;
}

.media-logo{
    margin:20px;
}

.red-button{
    margin-left:0%;
}
.form{
    width:90%;
}
.input-field{
    width:100%;
}

.mobile-meniu{
display:block;
position: fixed; 
top:20px;
right:15px;
z-index:1;

}
.fa.fa-bars{
    font-size:1.5rem;
}
.image{
    display: none;
    
}
.mob{
      width: 100%;

    background-image: url("background-mobil.png");
    background-repeat:   no-repeat;
    background-position: center center;
    background-size: 550px 300px;
  


}
.center-meessage-container{
    width: 100%;
    margin-top:-50px;

}
.text-with-icon{
    display: block;
    margin-left:0px;
    
}
.text-with-icon:before {
    display: none;
}
}

/* for js */
.mobileNamv{
    height: 500px;
    animation-name: example;
    animation-duration: 0.5s;
}
@keyframes example {
    from { height: 100px;}
    to {height: 500px;}
}
.teamplate{
    display: none;
}