body {
    font-size: 16px;
  }
 #page-wrap {
    display:flex;
    flex-flow: column nowrap;
    width: 80%;
    margin: 0 auto; 
    }
header{
    position: fixed; 
    width: 100%;
    left:0;
    z-index:20;
}
.media-logo-container{
    position: fixed; 
    top:200px;
    right:15px;
    z-index:1;
}
.media-logo{
    margin-top:30px;
}
nav{
    height: 100px;
    margin: 0 auto;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
}
.buttons{
    margin:25px;
    display:inline-block;
}

section{
    display:flex;
    flex-flow: row wrap;
    left: 0;
    width:100%;
    height:1000px;
}
.image{
    height: 60%;
    width: 90%;
}
.center-meessage-container{
    position: relative;
    
    margin:0 auto;
    margin-top:-250px;
    height:400px;
    width: 600px;
    

}
.messag-box{
    background-color: #BDBDBD;
    height:85%;

}

.message-box-text{
    padding: 10px;
    margin:30px;
    font-size:1rem;
}
.message-box-title{
    color:#0101DF;
    font-size:2rem;
}
.button-box{
    height:60px;
    display: -webkit-flex; /* Safari */
 
  }

.red-button{
    display: flex; 
    width:140px;
    height:100%;
    background-color:#0101DF;
    margin-left:50%;
    justify-content: center;
    align-items: center;


}

.red-button-message{
    width:100%;
    height:100%;
    background-color:#DF0101;
  
}
.red-button-message p{
    text-align: center;
    font-size: 1.3rem;
    color: #FDFBFB
}
.fa-plus{
    color:white;
  
}
.services-selection-container{

    height:300px;
    width:100%;
    background-color:#D7DF01;

}

.services-container{
    display:flex;
    flex-flow: row wrap;
    position: relative;
    width: 70%;
    margin: 0 auto;

}
.services-container-title{
    width:100%;

}
.services-container-title p{
    margin-left:2%;
    font-size: 3rem;


}
.service{
    background-color:#D8D8D8;
    width:29%;
    height:300px;
    margin:2%
}

.testimonial-container{
    width:100%;
    height:300px;
    background-color:#D8D8D8;
    display:flex;
    align-items: center;
    justify-content: center;
}
.info-picker-arow{
     width:20%;
  
}
.testimonial-content{
    width:60%;

}
.second-container{
    width: 700px;
}
footer{
    display:flex;
    flex-flow: column nowrap;
    background-color:#0174DF; 
    height:500px;
    width:100%;
}
footer p {
    color:white;
}

.footer-contact{
font-size:3rem;
width:100;
text-align: center;
}
.footer-content{
    display: flex;
    align-items: center;
   justify-content: center;
}
.form{
    width:50%;
    margin:0 auto;
    display: flex;
    flex-flow: row wrap;
}
.input-field{
    width:45%;
    margin:1%;
   padding: 1%;
   border: 0;
   outline: 0;
   background: transparent;
   border-bottom: 1px solid white;
   color:white
}
.imput-button{
    border: 0;
    outline: 0;
    background: transparent;
    width:100%;
    color:white;
    margin:1%;
    height:100%;
  
}
.fill{
    width:94.5%  ; 
}
.footer-text{
    margin: 4%;
}
