  <mat-card class = "center">
      <mat-card-header>
          <mat-card-title >Login</mat-card-title>  
      </mat-card-header>
      <form #f="ngForm">
        <mat-form-field>
          <input  matInput
                  email 
                  placeholder="email" 
                  ngModel 
                  name="email">
        </mat-form-field>
        <mat-form-field ng-show>
          <input matInput 
                type="password" 
                ng-model="password" 
                placeholder="password"
                ngModel 
                name="password" >
        </mat-form-field>
      </form>
      <mat-card-content *ngIf="showError">
        Invalid login
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent"
          (click)="onLogin()">Login</button>
        <button 
         mat-raised-button color="accent"
         (click)="signup()">Sign up</button>
      </mat-card-actions>
    </mat-card>