body {
    font-size: 16px;
  }
  #page-wrap {
    width:118rem;
    margin: 0 auto;
    }
.logo{
    position: fixed;
    left:40px;
    height: 90px;
    width: 90px;
    z-index:1;
}
.page-container{
    position:relative;
    width:1000px;
}
.hedder-container{
       height: 100px ;
}
.buttons{
    float:left;
}
.hedder-buttons{
    width: 50%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;

}
.hedder-link{
   font-size: 130%;
   color:#e234b7;
   margin: 30px;

}
a.button-hover:hover{
    color: yellowgreen
}

.container-one{
    
    height:55rem;
}

.image{
    width:100rem;
    height:35rem;
     top: 0;
}
.message-box{
    position: relative;
    left: 650px;
    width: 600px;
    height: 400px;
 }
.upper-box{
    top: -200px;
}
 .textbox{
    width:100%;
    height: 85%;
    background-color: #e2e2e2;
 }




.plus-button{
    height: 12%;
    width:9%;
    border: none;
    cursor: pointer;
    background-color: blue;
    color:white;
    font-size:150%;
    float:right;
}
.aux-buton-text{
    height: 12%;
    width:30%;
    background-color: red;
    color: white;
    text-align: auto;

    float:right;
    
}
.aux-text{
  position: absolute;
    
    padding:0.7rem;
    color: white;
    font-size:120%;
    margin-left: 0 auto;
}
.media-logo-container{
    position: fixed;
    top:200px;
    right:15px;
    z-index:1;
}
.media-logo{
    margin :50px;
}

.textbox-title{
    padding:6%;
     width:90%;
    height: 30%;
    color: blue;
    font-size: 300%;

  

}
.textbox-paragraph{
    float:left;
    height:70%;
    width:15%;
    color: blue;
    padding: 1%;
    margin-left:2%;
    margin-right: 2%;
  
    
    
}
.textbox-text{
   height: 70%;
}
.line{
    margin:1%;
    border-style:solid;
    border-color:blue;
}

.services-container{
    width:118rem;
    height:15rem;
    background-color: #E4DA36; 
}

.service-main-title{
    padding-left:1%;
    font-size: 300%;

}
.services{
    position: relative;
    margin-left:20%;
    margin-right:10%;
    
}

.service{
    margin:2%;
  
    float:left;
    background-color: #e2e2e2;
    height: 20rem;
    width:25%;
    outline: 2px solid #e2e2e2 ;
    outline-offset: 3px;
    
}


.services-wraper{
    position:relative;
    /* padding-top: 1%; */
}

.service-title{
    position: relative;
    padding: 5%;
    width:15%;
    font-size:200%;
    color:blue;
        

}
.serive-text{
    position: relative;
    margin-top: 5%;

}

/* general  */

.clear{
    content:"";
    clear: both;
     
}


