body {
    font-size: 16px;
  }
.logo{
    position: fixed;
    left:40px;
    height: 90px;
    width: 90px;
    z-index:1;
}
.page-container{
    position:relative;
    width:1000px;
}
.hedder-container{
       height: 100px ;
}
.buttons{
    float:left;
}
.hedder-buttons{
    width: 50%;
    height: auto;
    margin: 0 auto;
    /* left:40%; */
    padding: 10px;
    position: relative;
    
    white-space: nowrap;
    overflow: hidden;

}
.hedder-link{
    font-size: 130%;
   color:#e234b7;
   margin: 30px;

}
a.button-hover:hover{
    color: yellowgreen
}

.container-one{
    
    height:100%
}



.image{
    width:100rem;
    height:35rem;
     top: 0;
}
.message-box{
    position: absolute;
    top: 500px;
    left: 650px;
    width: 600px;
    height: 400px;
 }

 .textbox{
    width:100%;
    height: 85%;
    background-color: #e2e2e2;
 }




.plus-button{
    height: 12%;
    width:9%;
    border: none;
    cursor: pointer;
    background-color: blue;
    color:white;
    font-size:150%;
    float:right;
}
.aux-buton-text{
    height: 12%;
    width:30%;
    background-color: red;
    color: white;
    text-align: auto;

    float:right;
    
}
.aux-text{
    color: white;
    font-size:120%;
    margin-left: 0 auto;
}
.media-logo-container{
    position: fixed;
    top:200px;
    right:15px;
    z-index:1;
}
.media-logo{
    margin :50px;
}

.textbox-title{
    padding:6%;
     width:90%;
    height: 30%;
    color: blue;
    font-size: 300%;

  

}
.textbox-paragraph{
    float:left;
    height:70%;
    width:15%;
    color: blue;
    padding: 1%;
    margin-left:2%;
    margin-right: 2%;
  
    
    
}
.textbox-text{
   height: 70%;
}
.line{
    margin:1%;
    border-style:solid;
    border-color:blue;
}

.services-container{
    position: absolute;
    width:118rem;
    
    margin-top:18rem;;
    height:20rem;
    
}
.service-box{
   
    width:100%;
    height:100%;
    background-color: #E4DA36;
   
    clear: both;
}
.service-title{
    margin-left:15%;
    padding:2%;
    font-size: 300%;

}
.services{
    margin-left:15%;
    margin-right:15%
    
}
.service{
    margin:4%;
    padding: 2%;
    display: inline-block;
    background-color: #e2e2e2;
    height: 20rem;
    width:20%;
    outline: 2px solid #e2e2e2 ;
    outline-offset-left: 3px;
    
}
