.logo{
    position: fixed;
    left:40px;
    height: 90px;
    width: 90px;
    z-index:1;
}
.hedder-container{
    position: relative;
    height: 100px ;
    width: 100%;
}
.hedder-buttons{
    position: absolute;
    top: 30%;
    left: 500px;
    white-space: nowrap;
    overflow: hidden;

}
.hedder-link{
    font-size: 130%;
   color:#e234b7;
   margin: 30px;

}
a.button-hover:hover{
    color: yellowgreen
}

.container-one{
    position: relative;
    height:100%
}


.image{
    position: absolute;
    top: 0;
}
.message-box{
    position: absolute;
    top: 350px;
    left: 750px;
    width: 500px;
    height: 400px;
    /* background-color: #e2e2e2; */
 }
 .textbox{
    width:100%;
    height: 85%;
    background-color: #e2e2e2;
 }


.plus-button{
    position: absolute;
    height: 12%;
    width:9%;
   right : 30%;
    border: none;
    outline:none;
    padding: 5px;
    cursor: pointer;
    background-color: blue;
    color:white;
    font-size:150%
}
.aux-buton-text{
    position: absolute;
    height: 12%;
    width:30%;
    right:0;
    background-color: red;
    color: white;
   
    
}
.aux-text{
    position: absolute;
    top: 25%;
    color: white;
    font-size:120%
    
    
}
.media-logo-container{
    position: fixed;
    top:200px;
    right:15px;
}
.media-logo{
    margin :50px;
}

.textbox-tile{
    position: absolute;
    width:100%;
    height: 30%;
    color: blue;
    font-size: 300%;
    margin:5%;

}
.textbox-paragraph{
    position: absolute;
    height: 70%;
    color: blue;
    font-size: 400%;
    margin-top:10%;
    margin-left:5%;
    margin-right:5%;
}
.textbox-text{
    position: absolute;
    top:30%;
    height: 70%;
}