
mat-toolbar {
  position: fixed;
  z-index: 2;
  width: 100%;
  top:0;

  .mat-toolbar-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.header__logo-name {
  margin: 0 5px;
}







