/* colors
 */

header,
section.selector {
    /* filter: grayscale(100%); */
    background-color: rgb(41, 41, 41);
    /* background-color: rgb(41, 0, 0); */
}

section {
    /* filter: grayscale(100%); */
    /* background-color: rgb(102, 0, 0); */
    background-color: rgb(97, 97, 97);

}

footer,
.last-work-line,
.last-work-title {
    background-color: rgb(48, 48, 48);
}

nav,
.text-frame,
h2 {
    color: rgb(250, 250, 250);
}

h2 {
    font-size: 24px;
}

.arrow {
    color: rgb(118, 195, 143);
}

/* end colors */

header h1 {
    margin: 0;
}

html,
body {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

section,
footer {
    margin: 0;
    padding: 0;
}

.center-all,
.wrap,
.last-work-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:4;
}

.center-all {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 960px;
    justify-content: space-between;
  
}
.container{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1100px;
}
.background-img{
    position: absolute;
    top:10px;
    height:1510px;
    width: 1100px;
    background: url("bgimage.png") no-repeat  ;
    background-size: auto;
    z-index: 2;
    opacity: 0.5;
    
}
.center-top {
    top: 50%;
    transform: translate(-50%, -50%);
}

.wrap {
    flex-wrap: wrap;
}

header {
    top: 0;
    border-top-style: solid;
    border-top-color: rgb(118, 195, 143);
    border-top-width: 10px;
    height: 100px;
   
}

.logo>h1 {
    font-size: 28px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

li {
    margin: 0 0 0 30px;
    padding: 10px 15px;
    text-align: center;
}

li:nth-last-child {
    display: inline-block;
}

li:hover {
    color: white;
    border-radius: 10px;
    background-color: rgb(118, 195, 143);
}

/* .selector {
    margin-top: 110px;
} */

.frame {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 960px;
   
}

.text-frame {
    width: 340px;
}

.text-frame>h2 {
    font-size: 46px;
}

.arrow {
    width: 80px;
    text-align: left;
}

.arrow > i {
    font-size: 40px;
}

.right {
    text-align: right;
}

.picture-frame {
    background-image: url('imgs/1.jpeg');
    height: 340px;
    width: 340px;
    margin-bottom:30px;
    margin-top:30px;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(107, 107, 107);
    border-width: 20px;
    background-color: rgb(51, 51, 51);
}

.service {
    position: relative;
    height: 300px;
    width: 220px;
    margin-top: 80px;
    margin-bottom: 30px;
    background-color: rgb(250, 250, 250);
    color: rgb(51, 51, 51);
}

.service:hover {
    background-color: rgb(118, 195, 143);
    color: rgb(250, 250, 250);
}

.service-picture {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translate(-50%, 0);
    height: 120px;
    width: 120px;
    background-color: rgb(51, 51, 51);
}

.service > h3 {
    position: absolute;
    font-size: 32px;
    text-align: center;
    left: 50%;
    top: 110px;
    transform: translate(-50%, 0);
}

.service > p {
    position: absolute;
    left: 50%;
    width: 120px;
    max-height: 50px;
    overflow: hidden;
    top: 210px;
    transform: translate(-50%, 0);
}



.last-work-frame {
    position: relative;
    height: 50px;
    width: 960px;
    margin-bottom: 50px;
}

.last-work-line {
    width: 100%;
    height: 2px;
}

.last-work-title {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 10px;
}

.last-work-title>h2 {
    margin: 20px;
}

.picture-frame-squere {
   
    height: 190px;
    width: 290px;
    border-style: solid;
    border-color: rgb(250, 250, 250);
    border-width: 5px;
    background-color: rgb(51, 51, 51);
    margin-bottom: 30px;
    filter: grayscale(100%);
}
.p-one{
    background-image: url('imgs/2.jpeg');
}
.p-two{
    background-image: url('imgs/3.jpg');
}
.p-three{
    background-image: url('imgs/4.jpeg');
}
.p-four{
    background-image: url('imgs/5.jpeg');
}
.p-five{
    background-image: url('imgs/6.jpeg');
}
.p-six{
    background-image: url('imgs/7.jpg');
}
.picture-frame-squere:hover {
    filter: grayscale(0%);
    border-color: rgb(118, 195, 143)
 
}
.picture {
    height: 150px;
}

.picture-title {
    height: 40px;
    background-color: rgb(21, 21, 21);
}

button {
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    background-color: rgb(118, 195, 143);
}

