/* colors */

body {
    background-color: #000000;
}

header,
section.selector {
    background-color: rgb(41, 0, 0);
}

section {
    background-color: rgb(102, 0, 0);
}

footer,
.last-work-line,
.last-work-title {
    background-color: rgb(48, 48, 48);
}

.picture-frame {
    background-color: rgb(51, 51, 51);
}

textarea,
input,
button,
footer>h3 {
    color: rgb(250, 250, 250);
}

nav,
.text-frame,
.logo,
h2 {
    color: rgb(250, 250, 250);
}

.arrow-view,
.arrow {
    color: rgb(118, 195, 143);
}

/* end colors */

h1,
h2,
h3,
p,
ul,
nav,
hedear,
section,
footer {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2rem;
}

html,
body,
textarea,
input {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    padding: 0;
}

.section-container {
    max-width: 960px;
    min-width: 240px;
}

.container {
    position: relative;
    max-width: 1100px;
}

header {
    top: 0;
    border-top-style: solid;
    border-top-color: rgb(118, 195, 143);
    border-top-width: 10px;
    min-height: 80px;
    max-height: 130px;
}

.logo {
    margin: 10px;
}

.logo>h1 {
    font-size: 2rem;
}

.menu {
    margin: 10px;
}

.logo>p {
    font-size: 1rem;
}

ul {
    right: 0;
    display: flex;
    list-style: none;
    text-align: right;
}

li {
    margin: 0 0 0 30px;
    padding: 10px 15px;
    text-align: center;
}

li:nth-last-child {
    display: inline-block;
}

li:hover {
    color: rgb(250, 250, 250);
    border-radius: 10px;
    background-color: rgb(118, 195, 143);
}

.frame {
    min-width: 240px;
}

.text-frame {
    user-select: none;
    margin: 10px;
    max-width: 340px;
}

.text-frame>h2 {
    max-width: 300px;
    font-size: 3rem;
}

.arrow-view,
.arrow {
    margin: 10px;
    text-align: left;
    font-size: 3.3rem;
}

.right {
    text-align: right;
}

.picture-frame {
    margin: 10px;
    border-radius: 100%;
    min-height: 240px;
    max-height: 340px;
    min-width: 240px;
    max-width: 340px;
    flex: 2;
    flex-basis: auto;
    flex-grow: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    border-style: solid;
    border-color: rgb(107, 107, 107);
    border-width: 20px;
    overflow: hidden;
}

.picture-frame>img {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 150%;
    margin: 0 0 0 -20%;
}

.service-groop {
    flex-flow: flex;
    flex-shrink: 1;
    margin-top: 80px;
    margin-bottom: 30px;
}

.service {
    flex-grow: 1;
    margin: 10px;
    height: 300px;
    width: 220px;
    background-color: rgb(250, 250, 250);
    color: rgb(51, 51, 51);
}

.service-hover:hover {
    background-color: rgb(118, 195, 143);
    color: rgb(250, 250, 250);
}

.service-picture {
    margin: 2px;
    text-align: center;
    height: 120px;
    width: 220px;
}

.service-picture>i {
    font-size: 10rem;
}

.service>h3 {
    margin: 10px;
    width: 120px;
    font-size: 2.5rem;
    text-align: center;
}

.service>p {
    width: 120px;
    height: 50px;
    overflow: hidden;
}

.last-work-frame {
    height: 50px;
    width: 100%;
    margin-bottom: 50px;
}

.last-work-line {
    margin: 10px;
    width: 100%;
    height: 2px;
}

.last-work-title {
    position: absolute;
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 10px;
}

.last-work-title>h2 {
    margin: 20px;
}

.picture-frame-squere {
    flex-grow: 1;
    margin: 10px;
    height: 190px;
    width: 280px;
    border-style: solid;
    border-color: rgb(250, 250, 250);
    border-width: 5px;
    margin-bottom: 30px;
    filter: grayscale(100%);
}

.hover:hover {
    filter: grayscale(0%);
    border-color: rgb(118, 195, 143)
}

.picture {
    height: 150px;
    overflow: hidden;
}

.picture>img {
    height: auto;
    width: 100%;
}

.picture-title {
    height: 40px;
    background-color: rgb(21, 21, 21);
}

.footer {
    margin-top: 30px;
    background-color: transparent;
}

.footer>h3 {
    color: #ffff;
    margin-left: 0;
    text-align: left;
    margin: 10px;
    font-size: 1.2rem;
    top: 0;
}

.footer>p {
    height: 100%;
    width: 210px;
    margin: 10px;
    font-size: 1rem;
    color: rgb(171, 171, 171);
    top: 0;
}

textarea,
input {
    background-color: rgb(34, 34, 34);
    padding: 12px 20px;
    border: none;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 10px;
}

textarea {
    height: 60px;
    resize: none;
}

button {
    border: none;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    background-color: rgb(118, 195, 143);
}

button:disabled {
    color: gray;
}

button,
textarea,
input:focus {
    outline: none;
}

.view {
    width: 960px;
    margin: 20px;
    height: 80%;
    filter: grayscale(0%);
}

.view>img {
    user-select: none;
    width: 100%;
    height: 100%;
}

.background-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(48, 48, 48, 0.5);
    z-index: 4;
}

.background-container {
    position: fixed;
    background-color: #000000;
    max-width: 940px;
    height: 600px;
    z-index: 5;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-flow: column;
}

.wrap {
    flex-wrap: wrap;
}

.space {
    justify-content: space-between;
}

.center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.center-x {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.center-y {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.hide {
    display: none;
}

@media only screen and (max-width: 500px) {
    header {
        height: 70px;
    }
    .meniu {
        display: none;
    }
    .meniu-button {
        display: inline;
        margin: 10px;
        font-size: 2rem;
    }
    .arrow {
        display: none
    }
    .service-groop {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}