/* colors
 */

body {
    background-color: #000000;
}

header,
section.selector {
    background-color: rgb(41, 0, 0);
}

section {
    background-color: rgb(102, 0, 0);
}

h1,
h2,
h3,
p,
ul,
hedear,
section,
footer {
    margin: 0;
    padding: 0;
}

footer,
.last-work-line,
.last-work-title {
    background-color: rgb(48, 48, 48);
}

nav,
.text-frame,
h2 {
    color: rgb(250, 250, 250);
}

h2 {
    font-size: 24px;
}

.arrow {
    color: rgb(118, 195, 143);
}

/* end colors */

html,
body {
    font-size: 12px;
    padding: 0;
}

.flex-center,
.center-all,
.wrap,
.last-work-frame {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center {
    flex-flow: column;
}

.center-all {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 960px;
}

.container {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 1100px;
}

header {
    display: flex;
    flex-flow: wrap;
    top: 0;
    border-top-style: solid;
    border-top-color: rgb(118, 195, 143);
    border-top-width: 10px;
    min-height: 100px;
}

.logo>h1 {
    font-size: 28px;
}

.logo>p {
    font-size: 12px;
}

ul {
    display: flex;
    list-style: none;
    text-align: right;
}

li {
    margin: 0 0 0 30px;
    padding: 10px 15px;
    text-align: center;
}

li:nth-last-child {
    display: inline-block;
}

li:hover {
    color: white;
    border-radius: 10px;
    background-color: rgb(118, 195, 143);
}

.wrap {
    flex-wrap: wrap;
    justify-content: space-between;
}

.text-frame {
    max-width: 340px;
    min-width: 240px;
}

.text-frame>h2 {
    font-size: 46px;
}

.arrow {
    width: 80px;
    text-align: left;
}

.arrow>i {
    font-size: 40px;
}

.right {
    text-align: right;
}

.picture-frame {
    border-radius: 100%;
    background-image: url('imgs/1.jpeg');
    min-height: 340px;
    min-width: 340px;
    flex: 2;
    flex-basis: auto;
    /* default value */
    flex-grow: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    border-style: solid;
    border-color: rgb(107, 107, 107);
    border-width: 20px;
    background-color: rgb(51, 51, 51);
}

.service {
    height: 300px;
    width: 220px;
    margin-top: 80px;
    margin-bottom: 30px;
    background-color: rgb(250, 250, 250);
    color: rgb(51, 51, 51);
}

.service-hover:hover {
    background-color: rgb(118, 195, 143);
    color: rgb(250, 250, 250);
}

.service-picture {
    margin: 2px;
    text-align: center;
    height: 120px;
    width: 220px;
}

.service-picture>i {
    font-size: 120px;
}

.service>h3 {
    margin: 10px;
    width: 120px;
    font-size: 32px;
    text-align: center;
}

.service>p {
    width: 120px;
    max-height: 50px;
    overflow: hidden;
}

.last-work-frame {
    height: 50px;
    width: 100%;
    margin-bottom: 50px;
}

.last-work-line {
    width: 100%;
    height: 2px;
}

.last-work-title {
    position: absolute;
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 10px;
}

.last-work-title>h2 {
    margin: 20px;
}

.picture-frame-squere {
    height: 190px;
    width: 290px;
    border-style: solid;
    border-color: rgb(250, 250, 250);
    border-width: 5px;
    background-color: rgb(51, 51, 51);
    margin-bottom: 30px;
    filter: grayscale(100%);
}

.picture-frame-squere:hover {
    filter: grayscale(0%);
    border-color: rgb(118, 195, 143)
}

.picture {
    height: 150px;
}

.picture>img {
    height: 150px;
    width: 290px;
}

.picture-title {
    height: 40px;
    background-color: rgb(21, 21, 21);
}

.footer {
    margin-top: 30px;
    background-color: transparent;
}

.footer>h3 {
    text-align: left;
    margin: 10px;
    font-size: 12px;
    color: #ffff;
    color: #ffff;
    top: 0;
}

.footer>p {
    width: 210px;
    margin: 10px;
    font-size: 12px;
    color: rgb(171, 171, 171);
    top: 0;
}

textarea,
.footer>input {
    background-color: rgb(34, 34, 34);
    color: #ffff;
    padding: 12px 20px;
    border: none;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 10px;
}

textarea {
    height: 60px;
    resize: none;
}

button {
    border: none;
    color: white;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    background-color: rgb(118, 195, 143);
}

.submit {
    margin-left: -15px;
}

button,
textarea,
input:focus {
    outline: none;
}