<button mat-raised-button 
(click)="onBack()"><beack</button>
<form  class = "form-container"
      (ngSubmit)="onSubmit()" 
      #f="ngForm" >
      <input matInput
      ngModel
      name="_id"
      #_id="ngModel"S
      class="hide"> 
    <mat-form-field>
    <input matInput 
          required 
          [ngModel]='firstName.value'
          name="firstName" 
          #firstName="ngModel"
           placeholder="first name">
  </mat-form-field>

  <mat-form-field>
    <input matInput 
           required
           ngModel
           name="lastName" 
           #lastName="ngModel"
           placeholder="last name">
  </mat-form-field>

  <mat-form-field>
    <input matInput 
          email 
          ngModel
           name="email" 
           #email="ngModel"
          placeholder="email">
  </mat-form-field>
  <mat-form-field>
    <input matInput 
          ngModel
          name="company" 
          #company="ngModel"
          placeholder="company">
  </mat-form-field>
  <mat-form-field>
    <input matInput 
          ngModel
          name="phone" 
          #phone="ngModel"
          placeholder="phone">
  </mat-form-field>
  <mat-form-field>
    <input matInput 
          ngModel 
          [matDatepicker]="picker" 
          name="birthday"
          #birthday='ngModel'     
          placeholder="Birth day">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
 
    <mat-checkbox 
    matInput
    required
    ngModel
    #checked='ngModel' 
    name="checked">I agree with the thearms</mat-checkbox>
  
  <button mat-raised-button color="accent" 
          [disabled]="!f.valid">Submit</button>

</form>
