<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
  <p *ngIf="paragraph">{{paragraph}}</p>
  <mat-form-field *ngFor="let input of inputs">
    <input matInput 
      placeholder = "{{input.placeholder}}"
      class="popup-input"
      [(ngModel)]="input.value">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick(false)">No</button>
  <button mat-button  (click)="onNoClick(true)">Yes</button>
  <!-- [mat-dialog-close]="data" cdkFocusInitial -->
</div>