$header-color:linear-gradient(to left, #5453BC, #7D52B9);
$nav-text-color:rgb(63, 62, 62);
$prime-text-color:white;
$notification-color:rgb(39, 168, 243);
$min-container-width:320px;
$table-header-color:#F7F7F8;
$icon-color:#5453BC;
$center-padding:200px;
* {
  box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: #6b7279;
}

h1,
h2,
h3,
p,
ul,
nav,
header,
section,
footer,
body,
html {
  margin: 0;
  padding: 0;
}
h2,
h3{
    color:$prime-text-color;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}

button{
    border: 0;
    background: $prime-text-color;
  }
  button:focus{
    outline: none;
 }
 .wrap-container{
    position:relative;
    display: flex;
    flex-wrap: wrap;
    min-width: $min-container-width;
    padding: 0 10px;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 1200px;
    height:100%;

}
.main-header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100px;
    min-width: $min-container-width;
    .user-setings{
        display:flex;
        align-items: center;
        justify-content: space-between;
        height:30px;
        min-width:110px;
        font-weight: bold;
        font-size: 1rem;
       .user-setings__notification {
            display:flex;
            align-items: center;
            justify-content: center;
            height: 25px;
            width:  25px;
            color:$prime-text-color;
            background: $notification-color;
        
        }

    }
  
}
.user-setings__button{
    display: flex;
    justify-content: space-between;
    width: 60px;
 
}
.meniu{
    display: none;
    @media only screen and (max-width: 800px) {
        display: block;
        padding:20px;
        font-size: 2rem;
        }
}
.main-nav__items{
    list-style: none;
    display: flex;
    @media only screen and (max-width: 800px) {
       display: none;
       }

}
.main-nav__item {
    list-style: none;
    margin: 0 1rem;
    a{
        text-decoration: none;
        color:$nav-text-color;
        font-size: 1.2rem;
        cursor: pointer;
        font-weight: bold;
  
    }
  }
  .hr-nav{
      background:$header-color;
    //   max-width: 100%;
      min-width: $min-container-width;
      height: 100px;
  
     .wrap-container{
         display: flex;
         justify-content: space-between;
         align-items: center;
         align-content:center;
      
     }
     .hr-nav__button{
         display: flex;
         justify-content: center;
        align-items: center;
         height:40px;
         border-radius: 40px;
     
         i{
             margin: 0 10px;
             color:$notification-color;
             font-size: 1.3rem;
         }
         p{
             margin: 0 10px;
             @media only screen and (max-width: 800px) {  
                display: none;  
            }
         }
       
     }
  }
.section-elements{
    display: flex;
   justify-content: space-between;
    align-items: top;
    flex-flow: wrap;
    min-width: $min-container-width;
    @media only screen and (max-width: 800px) {
        justify-content: center;
        align-content: center;
       }
}
  .section-element{
    max-width:45%;
    min-width: $min-container-width;
    flex-grow: 1;
    margin: 40px 20px;
    box-shadow: 1px 1px 1px 1px $table-header-color;
    
    .section-element__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:20px;
        background: $header-color;
        height: 60px;
        width:100%;  
        .section-element__header--icon{
            color:$prime-text-color;
            font-size: 3.6rem;
            opacity: 0.5;
        }

    } 
}
.section-element__notification{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:60px;
    padding: 0 20px; 
    .section-element__notification--message{
        display: flex;
        align-items: center;

    }
    p{
        font-weight: bold;
        margin: 0 10px;
    }

}
.section-table{
    width: 100%;
    border: none;
    border-collapse: collapse;
    padding: 20px;

}
.section-table__head{
    width: 100%;
    padding: 0 20px; 
    background: $table-header-color;
    font-weight: bold;
    color: #2b2c2e
 
}
.col{
    padding: 0 20px;
    height: 65px;
    text-align: right;  
    border-bottom: 1px solid $table-header-color;
 
}
.first{
    text-align: left; 
     
}  
.last{
    text-align: left; 
}
.check-list{
    min-width: $min-container-width;
    max-width: 1200px;
    flex-basis: auto; /* default value */
    flex-grow: 1;
}
.updates{
   min-width:$min-container-width;
   max-width: 400px;
   @media only screen and (max-width: 800px) {
    max-width: 1200px;
   }
  
}
.extra{
    width: 500px;
    
}
.section-icon{
    color: $icon-color;
    font-size: 1.5rem;
}
.rotate{
    transform: rotate(20deg);
}

