* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #6b7279;
}

h1,
h2,
h3,
p,
ul,
nav,
header,
section,
footer,
body,
html {
  margin: 0;
  padding: 0;
}

h2,
h3 {
  color: white;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

button {
  border: 0;
  background: white;
}

button:focus {
  outline: none;
}

.wrap-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  min-width: 320px;
  padding: 0 10px;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 1200px;
  height: 100%;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  min-width: 320px;
}
.main-header .user-setings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  min-width: 110px;
  font-weight: bold;
  font-size: 1rem;
}
.main-header .user-setings .user-setings__notification {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  color: white;
  background: #27a8f3;
}

.user-setings__button {
  display: flex;
  justify-content: space-between;
  width: 60px;
}

.meniu {
  display: none;
}
@media only screen and (max-width: 800px) {
  .meniu {
    display: block;
    padding: 20px;
    font-size: 2rem;
  }
}

.main-nav__items {
  list-style: none;
  display: flex;
}
@media only screen and (max-width: 800px) {
  .main-nav__items {
    display: none;
  }
}

.main-nav__item {
  list-style: none;
  margin: 0 1rem;
}
.main-nav__item a {
  text-decoration: none;
  color: #3f3e3e;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: bold;
}

.hr-nav {
  background: linear-gradient(to left, #5453BC, #7D52B9);
  min-width: 320px;
  height: 100px;
}
.hr-nav .wrap-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.hr-nav .hr-nav__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 40px;
}
.hr-nav .hr-nav__button i {
  margin: 0 10px;
  color: #27a8f3;
  font-size: 1.3rem;
}
.hr-nav .hr-nav__button p {
  margin: 0 10px;
}
@media only screen and (max-width: 800px) {
  .hr-nav .hr-nav__button p {
    display: none;
  }
}

.section-elements {
  display: flex;
  justify-content: space-between;
  align-items: top;
  flex-flow: wrap;
  min-width: 320px;
}
@media only screen and (max-width: 800px) {
  .section-elements {
    justify-content: center;
    align-content: center;
  }
}

.section-element {
  max-width: 45%;
  min-width: 320px;
  flex-grow: 1;
  margin: 40px 20px;
  box-shadow: 1px 1px 1px 1px #F7F7F8;
}
.section-element .section-element__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: linear-gradient(to left, #5453BC, #7D52B9);
  height: 60px;
  width: 100%;
}
.section-element .section-element__header .section-element__header--icon {
  color: white;
  font-size: 3.6rem;
  opacity: 0.5;
}

.section-element__notification {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 20px;
}
.section-element__notification .section-element__notification--message {
  display: flex;
  align-items: center;
}
.section-element__notification p {
  font-weight: bold;
  margin: 0 10px;
}

.section-table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  padding: 20px;
}

.section-table__head {
  width: 100%;
  padding: 0 20px;
  background: #F7F7F8;
  font-weight: bold;
  color: #2b2c2e;
}

.col {
  padding: 0 20px;
  height: 65px;
  text-align: right;
  border-bottom: 1px solid #F7F7F8;
}

.first {
  text-align: left;
}

.last {
  text-align: left;
}

.check-list {
  min-width: 320px;
  max-width: 1200px;
  flex-basis: auto;
  /* default value */
  flex-grow: 1;
}

.updates {
  min-width: 320px;
  max-width: 400px;
}
@media only screen and (max-width: 800px) {
  .updates {
    max-width: 1200px;
  }
}

.extra {
  width: 500px;
}

.section-icon {
  color: #5453BC;
  font-size: 1.5rem;
}

.rotate {
  transform: rotate(20deg);
}

/*# sourceMappingURL=style.css.map */
