<button mat-raised-button 
(click)="onBack()">beack</button>
<div class="container">
  <mat-form-field>
    <input matInput placeholder="first name *">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="last name *">
  </mat-form-field>

  <mat-form-field>
    <input matInput email placeholder="email">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="company">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="phone">
  </mat-form-field>
  <button mat-raised-button color="accent"
  (click)="onLogin()">Submit</button>

</div>
