/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
*{
    box-sizing: border-box;
}
html,
body,
header,
h1,
h2,
h3,ul,li,p{
    padding: 0;
    margin: 0;
}
html {
    height: 100%;
  }
  body {
    min-height: 100%;
  }
.container{
    max-width:1200px;
    min-width: 300px;
    margin: 0 auto;
}
.center{
    margin: auto;
}